body{background: #f2f4f8;}
.chart_cont {width:150px;height:150px;display: inline-block;margin-left:20px;position:relative}
.chart_cont canvas {position:relative;width:200% !important;height:100% !important;margin-left: -50%;}
.chart_cont canvas + i {
    font-size: 55px;
    position: relative;
    margin: -80% auto 0;
    width: 50px;
    display: block;
    color: #595959;
}
.chart_cont .chart_val {
    position: relative;
    margin: 0 auto ;
    /*width: 100%;*/ /*---------- Modify By Nabil ---------------*/
    text-align: center;
    color:#595959
}
.chart_cont .chart_val .val {
    display: block;
    font-size: 41px;
}
.chart_cont .chart_val .unit {
    display: block;
    font-size: 15px;
    color:#dbdbdb
}
.top_bottom_brdr{border-top:solid 1px #f5f5f5;border-bottom:solid 1px #f5f5f5;padding:5px}
.box_shadow{box-shadow:-1px 3px 6px rgba(0,0,0,0.3);}
.brdr-seprators .left_brdr, .charts_carousel .owl-item{border-left:solid 1px #f5f5f5;}
.brdr-seprators .left_brdr:first-child,  .charts_carousel .owl-item:first-child{border-left:none}

.charts_carousel .owl-item{height:341px;text-align:center;padding: 44px 10px 20px;}

.kudos_icon i{font-size:90px;}
.kudos_icon_small i{font-size:16px;}
.clr{clear:both;}
.full_width_btn {width:95%;display: table;margin:0 auto;}
.bottom_position_btn {position:absolute;bottom:11px;left: 7px;}
.inner_padding {padding:15px;}
h3{
    color:#3b6795;
    text-transform: none;
    font-size: 18px;
    text-align: left;
}
h3 span{
    color: #bababa;
    font-size: 14px;
    margin-left: 5px;
}
h3 a{ color:#3b6795;}
h3 a{ color:inherit;}
.hints{font-size: 12px;color:#bababa;text-transform: none;font-family: arial, sans-serif;}
.hints i{margin-right:8px}
.hints.error{color:#f36565;}
.kudos h2{font-size: 69px;color:#5c5c5c;font-weight: bold;}
.kudos h4{font-size: 23px;color: #a7a7a7;text-transform: none;font-weight: bold;margin-top: -23px !important;}
.kudos h5{font-size: 13px;color: #a7a7a7;text-transform: none;}
.widget_status{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #eee;
    display: block;
    margin-top: 8px;
    text-align: center;
    color: #fff;
    padding-top: 6px;
    right: 10px;
    position: absolute;
}
.widget_status.vacation{
    background: #db4580;
}
.widget_status.info{
    background: #386493;
}
.widget_status.settings{
    background: #fff;
    color:#bdbdbd;
    font-size: 21px;
    margin-top: 7px;
}
.widget_status.settings a{color:#bdbdbd}
.widget_status.settings a:hover{color: #8b5398;}

.widget_actions
{
    background: #fff;
    border: solid 1px #386493;
    padding: 2px 5px;
    border-radius: 4px;
    color: #386493;
    display: block;
    transition :all ease 300ms;
    margin-top: 10px;
    text-align: center;
}
.widget_actions a{ color:#386493;}
.widget_actions:hover a{ color:#8b5398;}

.event_calendar_cont{
    min-height: 270px;
}
.fc-button-group{
    position: absolute;
    bottom: 5px;
    right: 20px;
}
.inbox_count{
    background: #fff;
    border: solid 1px #e6e6e6;
    color: #e47675;
    padding: 0 5px;
    border-radius: 4px;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    font-family: arial,sans-serif;
    margin-top: 2px;/*---------- Modify By Nabil ---------------*/
    position: absolute;
    line-height: 15px;
}
.inbox_height{min-height:340px;}
.inbox_item {
    display: none;
}
.inbox_item h3{
    font-size: 12px;
}
.inbox_item h3 span{color: #386493;font-size: 12px;margin-left: 0px;}
.inbox_item h3 .bold{font-family: stc-bold;}
.inbox_item h3 .request_date{
    color: #dbdbdb;
    font-size: 10px;
    font-weight: bold;
}
.btn-inbox-info {
    background: transparent;
    border: none;
    color: #783788;
    font-size: 16px;
    padding: 0 3px;
    margin-top: 13px;
}
.btn-inbox-actions {
    background: #f36767;
    color: #fff;
    border: none;
    padding: 4px 3px;
    margin: 9px 0 4px -2px;
    border: solid 1px transparent;
}
.btn-inbox-actions.done {
    background: #8bca81;
}
.btn-inbox-actions.error {
    background: #f56868;
}
.btn-inbox-actions.more {
    background: #fff;
    border-color: #30302A;
    color: #303030;
}
.inbox_item .actions_btns, .fav_item .actions_btns, .reminder_item .actions_btns  {opacity:0;transition:opacity ease 300ms;}
.inbox_item:hover .actions_btns, .fav_item:hover .actions_btns, .reminder_item:hover .actions_btns  {opacity:1}

.inbox_item:after,
.inbox_item:before{
    clear: both;
    display: table;
    content: " ";
}

.inbox_item {border-bottom:solid 1px #f5f5f5;padding-bottom:5px;margin-bottom: 0px;position: relative;}
.inbox_item:last-child {border-bottom:none;}
.request_status {
    position: absolute;
    width: 100%;
    height: 90%;
    z-index: 99;
}
.hidden{display: none;}
.attachment_img{padding:20px 10px;text-align:center;}
.attachment_img img{width:100%;height:auto;}
.attachment_btn {color:rgba(133,133,133,.8);border:1px solid rgba(133,133,133,.4);transition:all ease 300ms; }
.attachment_btn:hover {background:rgb(244, 244, 244);color:rgba(133,133,133,.8) }
.no_border {border:none;padding-top: 15px;}
.no_border .caret{color:#68207a;}

/*Training timeline classes*/
.training_ul{margin-left: -20px;min-height: 118px;}
.training_ul:before, .training_ul:after{content:'';background: #ececec;width: 8px;height: 8px;display: block;border-radius: 50%;margin-left: -4px;}
.training_ul span.border{
    border-left: solid 1px #efefef;
    display: block;
    padding: 10px 10px 0;
}
.training_ul dt:before {
    content: "";
    width: 20px;
    height: 20px;
    display: inline-block;
    background: #fff;
    border-radius: 50%;
    margin-left: -21px;
    vertical-align: middle;
    margin-right: 23px;
    border: solid 1px #ececec;
    text-align: center;
    padding-top: 2px;
    color: #cdcdcd;
}
.training_ul dt.done:before{background: #8bca81;content:"\f00c";color: #fff;}
.training_ul dt.in_progress:before{content:"\f141";}
.training_ul dt{margin-bottom: 6px;display: block;}
.training_ul dt:last-child{margin-bottom: 0;}
.training_ul dt .row{ margin-top:-32px}
.training_ul dt h3{font-size:12px;font-weight:bold;font-family: stc-bold;}
.training_ul dt h5{color: #b0b0b0;font-family: stc-light;font-size: 12px;margin-top: -10px !important;font-weight: bold;}

/*Progress bars*/
.progressbars h3{
    color: #787878;
    font-size: 9px;
    font-weight: bold;
    font-family: arial;
    margin-top: -5px !important;
}
.progressbars h5{
    color: #c7c7c7;
    font-size: 11px;
    margin-top: 0 !important;
    font-family: stc-light;
}
.progress-bar-vertical {
    width: 12px;
    min-height: 60px;
    display: flex;
    align-items: flex-end;
    margin-right: 0;
    float: left;
    margin-left: -10px;
}

.progress-bar-vertical .progress-bar {
    width: 100%;
    height: 0;
    -webkit-transition: height 0.6s ease;
    -o-transition: height 0.6s ease;
    transition: height 0.6s ease;
    left: 0;
    background: #e0bfe8;
}
.percentage{
    font-size: 50px;
    line-height: 25px;
    font-weight: bold;
}
.percentage.success{ color: #0edb51;}
.percentage.error{ color: #f36767;}
.top-margin-10{margin-top:10px;}
.top-margin-20{margin-top:20px;}
.top-margin-30{margin-top:30px;}
.top-margin-50{margin-top:50px;}

.progress-bar-vertical + h3{
    display: block;
    position: absolute;
    bottom: -24px;
    text-align: center;
    margin-left: -7px !important;
    font-family: stc-bold;
    text-transform: uppercase;
    font-size: 10px;
}
.kpi_height{min-height:110px;}
.gray{color: #787878;}
.hint{color: #b0b0b0;
    font-family: stc-light;
    font-size: 12px;
    margin-top: -4px !important;
    font-weight: bold;}
.stc-bold{font-family:stc-bold;}
.no-vertical-margin{margin-top:0 !important;margin-bottom:0 !important}
.reminders i{font-size:17px;}
.achievements {padding-right:25px;padding-left:25px;padding-bottom: 35px;}
.fav_item .fav_icon i{color:#ffde5d;margin-top: 4px;}
.fav_item .btn-inbox-actions{
    margin-top: 0px;
}

/*Vertical carousel classes*/
.carousel.vertical .carousel-inner {
    height: 100%;
    width: 83.33333333% ;
}

.carousel.vertical .carousel-inner .item {
    -webkit-transition: 0.6s ease-in-out top;
    -moz-transition:    0.6s ease-in-out top;
    -ms-transition:     0.6s ease-in-out top;
    -o-transition:      0.6s ease-in-out top;
    left:               0;
    margin-left: 4px;
    margoin-bottom:10px;
}

.carousel.vertical .active,
.carousel.vertical .next.left,
.carousel.vertical .prev.right    { top:     0;left:auto }
.carousel.vertical .next,
.carousel.vertical .active.right  { top:  100%;left:auto}
.carousel.vertical .prev,
.carousel.vertical .active.left   { top: -100%;left:auto}

.carousel.vertical .carousel-control {
    right: auto;
    position: relative;
    top: 0px;
    left: auto;
    display: block;
}
.carousel.vertical .carousel-control.right{
    top: -6px;
}

.mytime_line_item{background:#f3f3f3;border-radius:6px;padding:5px 10px;margin-bottom: 10px;position: relative;}
.mytime_line_item img{width:100%}
.mytime_line_item:before{content:"";display: block;border: solid 7px transparent;border-right-color: #f3f3f3;left: -12px;position: absolute;top: 16px;}
.mytime_line_item:after{
    content:'';
    background:#c3c3c3;
    width: 7px;
    height: 7px;
    display: block;
    position: absolute;
    border-radius: 50%;
    left: -14px;
    z-index: 99999;
    top: 20px;
}
.mytime_line_item h3{
    color: #5d5d5d;
    font-size: 12px;
    margin: 0 !important;
}
.mytime_line_item h5{
    color: #a2a2a2;
    font-size: 10px;
    margin: -2px 0 0 !important;
}


.timeline_first a{
    font-size: 12px;
    font-family: stc-light;
    cursor: pointer;
    margin-top: -2px;
    display: block;
    margin-left: 3px;
}
.timeline_nav{
    margin-top: 19px;
    position: relative;
    right: -5px;
}
.mytime_line_ul span.border{margin-left: -15px;border-color: #c2c2c2;min-height: 118px;}
.mytime_line_ul:before, .mytime_line_ul:after {
    content: '';
    background: #c3c3c3;
    width: 6px;
    height: 2px;
    display: block;
    border-radius: 0%;
    margin-left: -17px;
}
.mytime_line_ul:after{margin-top: -522px;}
.dashboard_timeline{height:118px;overflow: hidden}
.mytime_line_item i{display:block;max-width:32px;max-height:32px;width: 32px;height: 32px;background: url('') no-repeat center center;right: 2px;position: relative;}
.dropdown_results h3{display:inline-block}

.fav_item .request_status {top: -4px;width: 96%;padding: 7px 9px 22px 5px;}
.reminder_item .actions_btns i{font-size:10px;}
.reminder_item .actions_btns {margin-top:-10px;}
.reminder_item h3{text-decoration: none;transition: text-decoration ease 300ms}
.reminder_item.stroke h3{text-decoration: line-through;color:#bbbbbb}
    /*events type color*/
.event_type_1.fc-event{border-color:#a235ed;background:#a235ed;}
.event_type_2.fc-event{border-color:#11b46e;background:#11b46e;}
.event_type_3.fc-event{border-color:#f7b435;background:#f7b435;}
.event_type_4.fc-event{border-color:#0982c1;background:#0982c1;}
.event_type_5.fc-event{border-color:#702b80;background:#702b80;}
.event_type_6.fc-event{border-color:#de5150;background:#de5150;}
.event_type_7.fc-event{border-color:#c3c3c3;background:#c3c3c3;}

.emp_cont{position: relative;width: 200px;height: 100px;}
.emp_cont .cont{width: 100%;height: 100%;border:solid 1px #b5b5b5;position:relative;z-index:1;display: block;background: #fff;}
.emp_cont.has_childs:before, .emp_cont.has_childs:after{width:200px;height:100px;border:solid 1px #b5b5b5;content:'';display:block;position:absolute;z-index:0;right: -6px;bottom: -6px;background: #fff;}
.emp_cont.has_childs:after{right: -10px;z-index: -1;bottom: -11px;}


/*Timeline Calendar */

.timeline_calendar .fc-basic-view .fc-body .fc-row {display:inline-block;width:16%;}
.timeline_calendar.fc th, .timeline_calendar.fc td {border-width:0;}


